.token {
	background: #BCC2DA;
	margin: 10px 10px 10px 10px;
	max-width: 80vw;
	padding: 5px 5px 5px 5px;
	border: 0.1px solid #73768363;
	overflow-wrap: break-word;
}

.token.quantifier {
	background: #6080ff;
}

.token.any {
	background: #CF7DE7;
}

.token.start, .token.end {
	background: #FFD742;
}

.token.set {
	background: #d6dbec;
}

.token.frontier {
	background: #9d97d4;
}

.token.balanced {
	background: #9f74f0;
}

.token.capture, .token.position {
	background: #a3ff8d;
}

.token.captureref {
	background: #d7ffcd;
}

.token.class {
	background: #A7D0E7;
}

.token.warning {
	background: #fffc62;
}

.token.note {
	background: #62b3ff;
}

.token.error {
	background: #E76262;
}

/*======================================*/
#input {
    height: min(35px, 8vw);
    width: 100%;
    font-size: min(20pt, 7vw);
	font-family: 'Roboto Mono', monospace;
}

.token a {
	color: #1a1a1a;
}

.token a.input {
	font-family: 'Roboto Mono', monospace;
	background: #eee;
	font-weight: bold;
	margin-right: 5px;
	padding: 0px 5px 1px 5px;
	white-space: pre;
}

.token a.name {
	font-weight: bold;
	margin-right: 3px;
	display: inline-block;
}

.compact .description {
	display: none;
}

.token a.description{
	white-space: pre-wrap;
}

body {
	font-family: 'Roboto', monospace;
	font-size: min(12pt, 5vw);
}

#settings-compact-mode {
	margin-left: 20px;
	margin-right: -5px;
}

#leftside {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #4b4b53;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
	border-right: 2px solid #222325;
}

#leftside p, label {
	margin: 0px 10px 5px 10px;
	color: #ffffff;
	white-space: nowrap;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#leftside p.center {
	margin: 15px 5px 5px 5px;
	text-align: center;
}

.closebtn {
	position: absolute;
	font-weight: bold;
	font-size: 10pt;
	color: #f0f0f0;
	margin: 5px;
	text-decoration: none;
	top: 0;
	right: 0;
}

.closebtn:hover {
	text-decoration: underline;
}

#main {
	margin-left: 250px;
	position: relative;
	transition: margin-left 1s;
	padding: 0px 10px;
}
